@charset "UTF-8";

/*
em HTML é id = em CSS é # (só pode um elemento)
em HTML é class = em CSS é . (Pode vários elementos)
*/

body {
    background-color: rgb(200, 226, 200);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 100, 0);
}

#principal {
    text-align: center;
    background-color: rgb(5, 104, 5);
    color: white;
}

h2 {
    color: rgb(51, 77, 49);
}

.basico {
    color: #3c805e;
    font-weight: bold;
}

.intemediario {
    color: #80193c;
}

.avancado {
    color: #803c3c;
}

.destaque {
    background-color: #c5c56070;
}